.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rdata
.httr-oauth
.DS_Store
.quarto
output/*
!output/.gitkeep

oferta/*
!oferta/.gitkeep

inscripcion/*
!inscripcion/.gitkeep

egresos/*
!egresos/.gitkeep

demanda/*
!demanda/.gitkeep

produccion/*
!produccion/.gitkeep

*.csv
*.xlsx