.Rproj.user
.Rhistory
.RData
.Ruserdata
produccion/
output/*.csv
output/*.xlsx
oferta/*.csv
oferta/*.xlsx
inscripcion/*.csv
inscripcion/*.xlsx
egresos/*.csv
egresos/*.xlsx
demanda/*.csv
demanda/*.xlsx
.Rdata
.httr-oauth
.DS_Store
.quarto
